{{ attach_library('aries/molecule--teaser-card') }}
<div class="molecule--teaser-card flex-container flex-column flex-dir-column align-justify height-100 columns--{{ columns }} position-relative {{ classes|join(' ') }}">
  <div>
    {% if media %}
    <div class="molecule--teaser-card--media position-relative">
      {% include '@molecule/background-media/background-media.twig' with {
        media: media,
        position: 'center'
      } %}
    </div>
    {% endif %}

    {% if date|render %}
      <div class="molecule--teaser-card--date">
        {{ date|raw }}
      </div>
    {% endif %}
    {% if heading.0 %}
      <h3 class="molecule--teaser-card--heading {{ heading_size|default('h4') }}">
        {{ heading.0 }}
      </h3>
    {% endif %}
    {% if description.0 %}
      <div class="molecule--teaser-card--description {{ body_size|default('p') }}">
        {{ description.0|render|striptags }}
      </div>
    {% endif %}
  </div>
  {% if link|render %}
    <div class="molecule--teaser-card--link-wrapper">
      {% if link['#items'] %}
        {% include '@atom/button/button--link-field.twig' with {
          link: link.0,
          classes: ['button--secondary', link_classes|join(' '), (link_card == 1 or link_card is empty ? 'stretched-link-tag-before' : '')],
        }%}
      {% else %}
        {% for item in link %}
          {% include '@atom/button/button--link-field.twig' with {
            link: item,
            classes: ['button--secondary', link_classes|join(' '), (link_card == 1 or link_card is empty ? 'stretched-link-tag-before' : '')],
          }%}
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
</div>
