{{ attach_library('aries/molecule--menu--social') }}
<div class="molecule--menu--social grid-x">
  {% for item in social.items %}
    <div class="molecule--menu--social--icon">
      <a class="link" href="{{ item.url }}" data-text="{{ item.title|raw }}" target="_blank" rel="noopener noreferrer" aria-label="{{ item.title|raw }}">
        <i class="{{ 'icon icon-' ~ item.title|clean_class }}"></i>
      </a>
    </div>
  {% endfor %}
</div>
