{{ attach_library('aries/page--person') }}
{{ attach_library('aries/plugable--scss--npr-style') }}

{% set has_media = content.field_media|render is not empty %}

<div class="page--person npr-style grid-container">
  <div class="content-wrapper grid-x grid-margin-x">
    <div class="cell large-offset-1 small-12 large-6 xlarge-4">
      <div class="media">{{ content.field_media }}</div>
    </div>
    <div class="cell small-12 large-4 xlarge-6 side-content">
      <div class="person-content">
        <h2>{{ label }}</h2>
        <div class="person__title body-l">
          <p>{{ content.field_title.0 }}</p>
        </div>
        <section class="person_quote body-l" aria-labelledby="person__quote_heading">
          {% if content.field_quote.0 is not empty %}
          <p id="person__quote_heading">{{ node.field_quote.fielddefinition.label }}</p>
          {% endif %}
          <blockquote class="person__quote_content body-l">
            <p>{{ content.field_quote.0 }}</p>
            <footer class="person__quote_attribution">
              <cite>{{ content.field_quote_attribution.0 }}</cite>
            </footer>
          </blockquote>
        </section>
      </div>
    </div>
    <div class="cell xsmall-12 large-10 large-offset-1 content-body body-l">
      {{ content.body }}
    </div>
  </div>
</div>
