<div class="paragraph paragraph--type--comparison-card paragraph--view-mode--default">

  {% if card.entity %}
    {% set heading_entity = card.entity.field_heading_formatted %}
    {% set description_entity = card.entity.field_description %}
       
    <div class="comparison-card-heading">
    {% if heading_entity is not empty %}
      <h3 class="field heading field--name-field-heading-formatted field--type-text-long field--label-hidden field__item h3">{{ heading_entity.value|raw }}</h3>
    {% endif %}

    {% if description_entity is not empty %}
      <div class="clearfix text-formatted field field--name-field-description field--type-text-long field--label-hidden field__item">
        <p>{{ description_entity.value|raw }}</p>
      </div>
    {% endif %}
    </div>

    {% set features_entity = card.entity.field_p_features %}
    {% set links_entity = card.entity.field_p_links %}

    {# Get the entity ID correctly #}
    {% set entity_id = card.entity.id() %}

    <div id="features-{{ entity_id }}" class="field field--name-field-p-features field--type-entity-reference-revisions field--label-hidden field__items">
      {% for feature in features_entity %}
        <div class="field__item">
          {% if feature.entity %}
            {% set feature_heading_entity = feature.entity.field_heading_formatted.0 %}
            {% set feature_description_entity = feature.entity.field_description %}
            <div class="paragraph paragraph--type--comparison-feature paragraph--view-mode--default">
              <div class="clearfix text-formatted field field--name-field-heading-formatted field--type-text-long field--label-hidden field__item">
                {{ feature_heading_entity.value|raw }}
              </div>
              <div class="clearfix text-formatted field field--name-field-description field--type-text-long field--label-hidden field__item">
                <p>{{ feature_description_entity.value|raw }}</p>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  <div class="field field--name-field-p-links field--type-entity-reference-revisions field--label-hidden field__items">
          {% for link in links_entity %}
        {% set linked_paragraph = link.entity %}
        {% set url = '' %}
        {% set learn_more_link = '' %}
        {% set classes = '' %}
 
        {% if linked_paragraph.type.target_id == 'link_default' %}
          {% set url = linked_paragraph.field_link.uri %}
          {% set learn_more_link = link(linked_paragraph.field_link.title, url) %}
        {% elseif linked_paragraph.type.target_id == 'link_file' %}
          {% set file_entity = linked_paragraph.field_file.entity %}
          {% set url = file_entity.field_cdn_url.uri %}
          {% set learn_more_link = link(linked_paragraph.field_alt_link_text.value, url) %}
        {% endif %}
 
        {% set url = linked_paragraph.field_link.uri ?: file_entity.field_cdn_url.uri %}
        {% set learn_more_link = link(linked_paragraph.field_link.title ?: linked_paragraph.field_alt_link_text.value, url) %}
 
        {% set button_style_term = linked_paragraph.field_button_style.entity %}
        {% set button_style_machine_name = button_style_term.get('machine_name').value %}
        {% set classes = 'button button--' ~ button_style_machine_name %}
        <div class="features links p">
          {% include '@atom/button/button--link-field.twig' with {
                        link: learn_more_link,
                        classes: classes,
                    } %}
        </div>
 
      {% endfor %}
  </div>
  {% endif %}
</div>
