{{ attach_library('aries/page--decision-tree') }}

<div class="page--decision-tree">
  <div class="node__content">
    <div class="banner" role="banner">
      {% include '@organism/hero/hero.twig' with {
        heading: display_title,
        media: hero_image,
      }%}
    </div>
    <div class="dt-content grid-container grid-x">
      <div class="dt-header grid-x xsmall-12 large-offset-1 large-10">
        <div class="dt-header-text xsmall-12 large-8">
          <h1 class="dt-title">{{ title }}</h1>
          <div class="dt-desc body-l">
            {{ description_text }}
          </div>
        </div>
        <div class="dt-link body-l xsmall-12 large-offset-1 large-3">
          {{ header_text }}
        </div>
      </div>
      <div class="dt-bottom xsmall-12 large-offset-1 large-10">

        <div class="dt-tree">
          {{ decision_tree }}
        </div>
        {% if alt_trees %}
        <hr>
        <div class="dt-alt-trees">
          {{ alt_trees }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
