{{ attach_library('aries/organism--timeline') }}
{% set border = border == 1 ? 'border' : '' %} 
<div class="organism--timeline-wrapper">
  <div class="organism--timeline-main-content">
    {% if (items_count == 3) or (items_count == 4) %}  
      <div class="organism--3-4-timeline--icon {{ items_count == 4 ? 'gap-4-event' : ''}}">
        {% for key,value in items['#items'] %}
          {% if key matches '/^\\d+$/' %}
            {% set variant = value.entity.field_timeline_variant.value %} 
            <div class="timeline-item-wrapper">
              <div class="timeline-pin-wrapper">
                <div class="timeline-item {{ border }}">
                  {% if variant == 'icon' or variant == 'media' %}
                    <div class="{{ variant }}">
                      <img class="{{ variant }}" src="{{ pin_content[key] }}">
                    </div>
                  {% else %}
                    <div class="{{ variant }}">{{ value.entity.field_pin_text.value | raw | striptags }}</div>
                  {% endif %}  
                </div>
                <div class="timeline-item-line"></div>
                <div class="pin-item"></div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>  
      <div class="organism--timeline--wrapper"></div>
      <div class="organism--timeline--3-4-events-wrapper event-3-4-width {{ items_count == 4 ? 'gap-4-event' : ''}}">
        {% if rendered_items %}
          {{ rendered_items }}
        {% else %}
          {% include '@plugable/twig/render-items.twig' with {
            items: items,
          }%}
        {% endif %}    
      </div>
    {% elseif items_count == 5 or (items_count == 6) %}  
      <div class="organism--5-6-timeline--icon">
        {% for key,value in items['#items'] %}
          {% if key matches '/^\\d+$/' %}
            {% set variant = value.entity.field_timeline_variant.value %}  
            {% if (key is even) %}
              <div class="timeline-item-wrapper">          
                <div class="organism--timeline--copy event-{{ items_count }}-width">
                  {{ items[key] }}   
                 </div>          
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="organism--5-6-timeline--icon">
        {% for key,value in items['#items'] %}
          {% if key matches '/^\\d+$/' %}
            {% set variant = value.entity.field_timeline_variant.value %}  
            {% if (key is even) %}
              <div class="timeline-item-wrapper">
                <div class="timeline-pin-wrapper">              
                  <div class="pin-collection">
                    <div class="timeline-item {{ border }}">
                      {% if variant == 'icon' or variant == 'media' %}
                        <div class="{{ variant }}">
                          <img class="{{ variant }}" src="{{ pin_content[key] }}">
                        </div>
                      {% else %}
                        <div class="{{ variant }}">{{ value.entity.field_pin_text.value | raw | striptags }}</div>
                      {% endif %} 
                    </div>
                    <div class="timeline-item-line"></div>
                    <div class="pin-item"></div>
                  </div>      
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="organism--timeline--wrapper"></div>
      <div class="organism--5-6-timeline--icon">
        {% for key,value in items['#items'] %}
          {% if key matches '/^\\d+$/' %}
            {% set variant = value.entity.field_timeline_variant.value %}
            {% if (key is odd) %}
              <div class="timeline-item-wrapper">
                <div class="timeline-pin-wrapper">              
                </div>
              </div>
              <div class="timeline-item-wrapper">
                <div class="timeline-pin-wrapper">
                  <div class="pin-collection pin-align-down">
                    <div class="pin-item"></div>
                    <div class="timeline-item-line pin-align-down"></div>      
                    <div class="timeline-item {{ border }}">
                      {% if variant == 'icon' or variant == 'media' %}
                        <div class="{{ variant }}">
                          <img class="{{ variant }}" src="{{ pin_content[key] }}">
                        </div>
                      {% else %}
                        <div class="{{ variant }}">{{ value.entity.field_pin_text.value | raw | striptags  }}</div>
                      {% endif %} 
                    </div>
                  </div>
                  <div class="organism--timeline--copy pin-align-down event-{{ items_count }}-width">
                    {{ items[key] }}   
                  </div>  
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if items_count == 5 %}
          <div class="timeline-item-wrapper">
            <div class="timeline-pin-wrapper">           
            </div>
          </div>
          <div class="timeline-item-wrapper">
            <div class="timeline-pin-wrapper">           
            </div>
          </div>  
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="organism--timeline-mobile-content">
    <div class="timeline">
      {% for key,value in items['#items'] %}
        {% if key matches '/^\\d+$/' %}
          {% set variant = value.entity.field_timeline_variant.value %} 
          <div class="container right">
            <div class="content">
              <div class="pin-collection">          
                <div class="timeline-item">
                  {% if variant == 'icon' or variant == 'media' %}
                    <div class="{{ variant }}">
                      <img class="{{ variant }}" src="{{ pin_content[key] }}">
                    </div>
                  {% else %}
                    <div class="{{ variant }}">{{ value.entity.field_pin_text.value | raw | striptags  }}</div>
                  {% endif %} 
                </div>          
              </div>
              <div class="copy-content">
                {{ items[key] }} 
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}    
    </div>
  </div>
</div>