{{ attach_library('aries/organism--interstitial-message') }}

<div id="interstitial-{{ term.id }}"
     class="organism--interstitial-message content modal default micromodal-slide interstitial-message"
     aria-hidden="true">
  <div class="modal__overlay" tabindex="-1">
    <div class="modal__container" role="dialog" aria-modal="true">
      <main class="modal__content body-s">
        <div class="field--name-field-title h2">{{ content.field_title }}</div>
        <div class="field--name-field-body">{{ content.field_body }}</div>

        <form id={{ 'form-' ~ name[0]['#context']['value'] }}>
          {# Checkboxes #}
          {% if (content.field_checkboxes['#items']|length > 0) %}
            <div class="checkboxes">
              {% for checkbox in content.field_checkboxes['#items'] %}
                {% set machine_name = 'checkbox-' ~ name[0]['#context']['value']|clean_class ~ '-' ~ checkbox.name %}
                <div class="checkbox flex-container align-top">
                  <input type="checkbox"
                         class="{{ 'checkbox-' ~ name[0]['#context']['value']|clean_class }}"
                         id="{{ machine_name }}">
                  <label
                    for="{{ machine_name }}">{{ checkbox.value }}</label>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {# Passwords #}
          {% if (content.field_password['#items']|length > 0) %}
            <div class="passwords">
              {% for password in content.field_password['#items'] %}
                {% set machine_name = 'password-' ~ name[0]['#context']['value']|clean_class ~ '-' ~ password.name %}
                <div class="password">
                  <input type="password"
                         class="{{ 'password-' ~ name[0]['#context']['value']|clean_class }}"
                         id="{{ machine_name }}"
                         placeholder="Please enter the password"
                         autocomplete="current-password"
                         data-password="{{ password.value }}">
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {# Set disabled if checkbox or password field is present. #}
          {% set disabled = (content.field_checkboxes['#items']|length > 0 or content.field_password['#items']|length > 0) %}
          <div class="buttons flex-container align-right">
            <button class="close button">{{ "No, thanks I'll pass"|t }}</button>
            <button {{ disabled ? 'disabled' }} class="submit button button--primary">{{ 'Continue'|t }}</button>
          </div>
        </form>

      </main>
    </div>
  </div>
</div>
