{#
/**
 * @file
 * Reuseable modal.
 * @see https://twig.symfony.com/doc/1.x/tags/macro.html
 *
 * Take parameters:
 * - Modal ID: Unquie modal identifier, typically use component name and entity ID to ensure unquiness.
 * - Label: Text to display as trigger
 * - Content: content to go inside modal
 *
 */
#}

{% macro modal(modal_id = "Default Header", label = 'Disclosure', content = "Modal Content", ga_id = '', type = "default", heading = 0) %}
  {{ attach_library('aries/molecule--micro-modal') }}

  {% if label != false %}
    <button
      {% if label == 'View Policy Details' %}
        onclick="event.preventDefault();"
      {% endif %}
      class="modal-trigger" data-micromodal-trigger="{{ modal_id }}" data-ga-id="{{ ga_id }}">{{ label|t }}</button>

    {#    <button type="button" class="modal-trigger" data-micromodal-trigger="{{ modal_id }}" data-ga-id="{{ ga_id }}">#}
    {#      <div class="sr-only">{{ label|trans }}</div>#}
    {#      <div class="play-icon" aria-hidden="true"></div>#}
    {#    </button>#}
  {% endif %}

  <div class="modal micromodal-slide {{ type }}" id="{{ modal_id }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ modal_id }}-title">
        {% if heading %}
          <div class="heading">
            {{ heading }}
            <button type="button" class="modal__close" aria-label="Close modal" data-micromodal-close></button>
          </div>
        {% else %}
          <button type="button" class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        {% endif %}
        <main class="modal__content" id="{{ modal_id }}-content">
          {{ content }}
        </main>
      </div>
    </div>
  </div>
{% endmacro %}

