{{ attach_library('aries/organism--view-sidebar-grid') }}
{{ attach_library('aries/atom--form--tab-links') }}
{{ attach_library('aries/atom--form--search-input') }}
{{ attach_library('aries/atom--pager') }}
{{ attach_library('aries/plugable--js--facade-trigger') }}
{{ attach_library('aries/plugable--js--form-details') }}
{{ attach_library('aries/plugable--scss--view-grid-mobile-filters') }}
{{ attach_library('aries/plugable--js--data-style') }}
{{ attach_library('aries/page--js-global-search') }}
{% set class = "large-12" %}

{{ banner }}
<div
  class="organism--view-sidebar-grid mobile-only-reveal--wrapper {{ not_section ? '' :'left_sidebar layout-section' }} {{ wrapper_classes|join(' ') }}"
  {{ filter_limit ? 'data-filter-limit=' ~ filter_limit : '' }}
  {{ filter_show_init ? 'data-filter-show-init=' ~ filter_show_init : '' }}
>
  <div class="">

    {# Title #}
    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}

    {# Header #}
    {% if header %}
      <div class="view-header">
        {{ header }}
      </div>
    {% endif %}

    <div class="grid-x grid-margin-x grid-margin-y">
      {# Sidebar filters #}
      {% if side_filters or breadcrumb %}
        {% set hidden = no_exposed ? 'hidden' : '' %}
        <div id="filterWrapper"
             class="filters-wrapper open-first-details text-card-light cell xsmall-12 large-3 grid-container--narrow layout-column {{ hidden }}">
          {% if breadcrumb %}
            <div class="show-for-large">
              {{ drupal_breadcrumb() }}
            </div>
          {% endif %}
          {% if side_filters %}
            <div id="filterModal"
              class="view-filters side-filters main-filters shadow--text-card-light flex-container flex-dir-column"
              aria-labelledby="filterModal">
              {# Header #}
              {% if counter %}
                <div class="view-counter">
                  {{ counter }}
                </div>
              {% endif %}
              {{ side_filters }}
              {{ bottom_side_filters }}
            </div>
          {% endif %}
        </div>
        {% set class = no_exposed ? "large-12" : "large-9" %}
      {% else %}
        {% set not_filter = true %}
      {% endif %}

      {# View content #}
      <div
        class="view--wrapper cell xsmall-12 {{ class }} {{ class == 'large-9' ? 'grid-container--narrow layout-column' : '' }}">
        {# Attachments before #}
        {% if attachment_before %}
          <div class="attachment attachment-before">
            {{ attachment_before }}
          </div>
        {% endif %}

        {# Top filters #}
        <div class="top-filter-wrapper">
          <div class="view-filters top-filters flex-container align-justify">
            <div>
              {% if breadcrumb and not_filter %}
                <div class="show-for-large">
                  {{ drupal_breadcrumb() }}
                </div>
              {% endif %}
              {% if top_filters %}
                {{ top_filters }}
              {% endif %}
            </div>
            {% if view_switch %}
              {% include '@molecule/mode-view-switcher/mode-view-switcher.twig' with { view_mode } %}
            {% endif %}
          </div>
        </div>

        {# Rows #}
        {% if rows %}
          <div class="view-content">
            {% if exclude_grid %}
              {{ rows }}
            {% else %}
              {% include '@layout/grid/grid.twig' with {
                items: {'#items': rows.0['#rows'], }|merge(rows.0['#rows']),
                grid_attributes: grid_attributes ? grid_attributes : {'class': ['grid-x', 'grid-margin-x', 'grid-margin-y']},
                cell_attributes: cell_attributes ? cell_attributes : {},
              } %}
            {% endif %}
          </div>
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}

        {# Pager #}
        {% if pager %}
          {{ pager }}
        {% endif %}

        {# Attachments after #}
        {% if attachment_after %}
          <div class="attachment attachment-after">
            {{ attachment_after }}
          </div>
        {% endif %}

        {# More #}
        {% if more %}
          {{ more }}
        {% endif %}

        {# Footer #}
        {% if footer %}
          <div class="view-footer">
            {{ footer }}
          </div>
        {% endif %}

        {# Feed icons #}
        {% if feed_icons %}
          <div class="feed-icons">
            {{ feed_icons }}
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>



