{{ attach_library('aries/molecule--view-list') }}
{{ attach_library('aries/atom--pager') }}
{{ attach_library('aries/plugable--scss--reset-list-styles') }}

<div class="view-content--view-list">
  {# Rows #}
  {% if rows %}
    <div class="view-content--row-list">
      {% if exclude_grid %}
        {{ rows }}
      {% else %}
        {% include '@layout/grid/grid.twig' with {
          items: {'#items': rows.0['#rows'], }|merge(rows.0['#rows'])
        } %}
      {% endif %}
    </div>
  {% endif %}
  {% if pager %}
    {{ pager }}
  {% endif %}
</div>
