{{ attach_library('aries/molecule--addtoany') }}

{#
  buttons_size
  page_url
  link_title
#}

{% set assets_path = '/themes/custom/aries/source/assets/images/svg/social/' %}
{% set cache_busting = "?v=1.0" %}
{% set buttons = {
  'facebook': 'facebook.svg',
  'x': 'x.svg',
  'linkedin': 'linkedin.svg',
  'email': 'email.svg',
} %}

<div class="molecule--addtoany">
  <span class="a2a_kit a2a_kit_size_{{ buttons_size|default('24') }} addtoany_list" data-a2a-url="{{ page_url }}" data-a2a-title="{{ link_title }}">
    {% for button, icon in buttons %}
      <a class="a2a_button_{{ button }}">
        <img src="{{ assets_path ~ icon ~ cache_busting }}" alt="{{ button }}" width="{{ buttons_size }}" height="{{ buttons_size }}">
      </a>
    {% endfor %}
  </span>
</div>
