{{ attach_library('aries/atom--button') }}
<a class="{{ 'button ' ~ classes|join(' ') }}" href="{{ url }}" target="{{ target|default('_self') }}" {% if tabindex is not empty %} tabindex="{{ tabindex }}" {% endif %} title="{{ title }}">{{ title }}</a>
