{{ attach_library('aries/molecule--card-two') }}
<div class="molecule--card-two position-relative">
  {% if media %}
    <div class="media-wrapper">
      <div class="media-inner-wrapper position-relative responsive-embed one-by-one">
        {{ include('@molecule/background-media/background-media.twig', {
          media,
        }, with_context = false) }}
      </div>
    </div>
  {% endif %}
  <div class="content">
    {% if heading %}
      <h3>{{ heading }}</h3>
    {% endif %}
    {% if description %}
      <div class="description body-l margin-bottom--none">
        {{ description }}
      </div>
    {% endif %}
    {% if link %}
      <div class="link-wrapper">
        {{ link }}
      </div>
    {% endif %}
  </div>
</div>
