{{ attach_library('aries/molecule--tabbed-info-card') }}
<div class="molecule--tabbed-info-card">
  {% if icon %}
    <div class="icon-wrapper">
      {{ icon }}
    </div>
  {% endif %}
  <div class="content">
    <h2>
      {{ heading }}
    </h2>
    <div class="description">
      {{ description }}
    </div>
{#    <button class="button button--secondary" class="choice" value="{{ id }}">#}
{#      {{ 'Choose'|t }} {{ heading }}#}
{#    </button>#}
  </div>
</div>
