{{ attach_library('aries/organism--horizontal-card') }}

{# Set variables #}

{#  @TODO need default preset? #}
{% set shape = shape.0 ? shape|render|striptags|trim|lower|replace({'shape -- ': ''}) : '' %}
{% set shape_position = shape_position.0 ? shape_position|render|striptags|trim|lower|replace({'position -- ': ''}) : '' %}
{% set theme = theme.0 ? theme|render|striptags|trim : '' %}
{% set contrasting_color = contrasting_color.0 ? contrasting_color|render|striptags|trim|lower|replace({' -- ' : '-', ' ' : '-'}) %}
{% set vibrant_color = vibrant_color.0 ? vibrant_color|render|striptags|trim|lower|replace({' -- ' : '-', ' ' : '-'}) %}
{% set alignment = alignment.0 ? alignment|render|striptags|trim : '' %}
{% set left_column_size = left_column_size.0 ? left_column_size|render|striptags|trim|replace({'percentage_': ''}) : '' %}
{% set left_column_size = (12 * (left_column_size / 100))|replace({'.' : '_'}) %}

{% if shape == '' %}
  {% set shape = random(['octagon', 'umbrella', 'hexagon', 'hourglass']) %}
{% endif %}

{% if theme	in ['theme_secondary', 'theme_primary'] %}
  {% set theme = 'theme_contrasting' %}
{% endif %}

{% set media_render %}
    <div class="position-relative organism--horizontal-card--media">
      {% include '@molecule/background-media/background-media.twig' with {
        media: media.0,
        position: 'center',
        additionalClasses: ['shape', shape_position ? shape ~ '--' ~  shape_position : shape, media.0 ? 'has-media' : 'no-media']
      } %}
    </div>
{% endset %}

{% set copy %}
  {#
  @todo this pattern below is likely to be used alot with a heading, description and links, ensure to make a molecule to capture that and render here.
  #}
  <div class="organism--horizontal-card--content-wrapper {{ description.0 ? 'has-desc' : 'no-desc' }}">
    {% if heading.0 %}
      <h2 class="organism--horizontal-card--heading h3">{{ heading.0 }}</h2>
    {% endif %}
    {% if description.0 %}
      <div class="organism--horizontal-card--description trim-bottom-margin body-l">{{ description.0 }}</div>
    {% endif %}
    {% if links.0 %}
      <div class="organism--horizontal-card--link-wrapper">
        {% include '@atom/button/button--link-field.twig' with {
          link: links.0,
        } %}
      </div>
    {% endif %}
  </div>
{% endset %}

{% set left_content = media_render %}
{% set right_content = copy %}
{% if alignment == 'align_right' %}
  {% set left_content = copy %}
  {% set right_content = media_render %}
{% endif %}

<div class="organism--horizontal-card {{ theme|replace({'_': '--'}) }} {{ contrasting_color }} {{ vibrant_color }} default">
  <div class="grid-x no-padding organism--horizontal-card--grid organism--horizontal-card--{{ alignment|replace({'_': '--'}) }}">
    <div class="left cell xsmall-12 medium-6 large-{{ left_column_size }} organism--horizontal-card--cell organism--horizontal-card--left-cell">
      {{ left_content }}
    </div>
    <div class="right cell xsmall-12 medium-auto organism--horizontal-card--cell organism--horizontal-card--right-cell">
      {{ right_content }}
    </div>
  </div>
</div>

{{ content.field_svg }}
