{{ attach_library('aries/organism--card') }}
{% set theme = ('contrasting' in background_color ? 'contrasting' : 'vibrant') %}

{% set subhead_tag_lookup = {
  'h2': 'h3',
  'h3': 'h4',
  'h4': 'h5',
} %}

{% set media_render %}
  {% if icon | render %}
  <div class="position-relative organism--card--media">
    <div class="position-relative organism--card--icon {{ icon_color ? 'icon-color--' ~ icon_color }}">
      {{ icon }}
    </div>
  </div>
  {% elseif media | render %}
    {{ media }}
    {% if video %}
      <div class="video-play">
      {% include '@molecule/modal/video-modal/video-modal.twig' with {
        modal_content: video,
        trigger_label: 'Play'
      }%}
      </div>
    {% endif %}
  {% endif %}
{% endset %}

<div class="organism--card">
  <div class="organism--card--inner-wrapper {{ background_color ? 'bg-color-' ~ background_color }}">
    <div class="image-container">
        {{ media_render }}
    </div>
    <div class="organism--card--copy">
      {% include '@molecule/copy/copy.twig' with {
        heading: heading,
        heading_tag: heading_tag,
        heading_font_size: heading_tag,
        heading_id:heading_id,
        subhead_tag: subhead_tag,
        subhead: subhead,
        description: description,
        disclosure: disclosure,
        theme: theme,
        links: links,
        subhead_font_size: subhead_tag_lookup[heading_tag],
        description_font_size: 'body-m',
      }%}
    </div>
  </div>
</div>

