{{ attach_library('aries/molecule--icon-card') }}
<div class="molecule--icon-card {{ capture_button_click ? 'capture-button-click' : '' }} position-relative">
  {% if icon %}
    <div class="icon-wrapper">
      {{ icon }}
    </div>
  {% endif %}
  <div class="content">
    <h2>
      {{ heading }}
    </h2>
    <div class="description body-l margin-bottom--none">
      {{ description }}
    </div>
    <button class="button button--secondary" class="choice" value="{{ id }}">
      {{ 'Choose'|t }} {{ heading }}
    </button>
  </div>
</div>
