{% set subhead_tag_lookup = {
  'h2': 'h3',
  'h3': 'h4',
  'h4': 'h5',
} %}
{% set subhead_tag = subhead_tag ?? heading_tag ? subhead_tag_lookup[heading_tag] : 'h3' %}
{% set subhead_font_size = subhead_font_size ?? heading_tag ? subhead_tag_lookup[heading_tag] : 'h3' %}

<div class="molecule--sq-copy {{ classes|join(' ') }}">
  {% if microTitle %}
    <{{ microTitle_tag|default('h4') }} class="micro-title {{ microTitle_font_size|default('h4')}}">{{ microTitle }}</{{ microTitle_tag|default('h4') }}>
  {% endif %}
  {% if heading %}
    <{{ heading_tag|default('h2') }} class="heading {{ heading_font_size|default('h2')}}"
      {% if heading_id %}
        id="{{ heading_id }}"
      {% endif %}
    >{{ heading }}</{{ heading_tag|default('h2') }}>
  {% endif %}
  {% if subhead %}
    <{{ subhead_tag|default('h3') }} class="subhead mt-4 {{ subhead_font_size|default('h3')}}">{{ subhead }}</{{ subhead_tag|default('h3') }}>
  {% endif %}
  {% if description %}
    <div class="description nmblc mt-4 {{ description_font_size|default('body-l')}}">{{ description }}</div>
  {% endif %}
  {% if subhead_2 %}
    <{{ subhead_tag|default('h3') }} class="subhead subhead-2 {{ subhead_font_size|default('h3')}}">{{ subhead_2 }}</{{ subhead_tag|default('h3') }}>
  {% endif %}
  {% if columns %}
    <div class="columns mt-4 {{ column_font_size|default('body-l')}}">
      {{ columns }}
    </div>
  {% endif %}
  {% if disclosure %}
    {% include '{{sequoia}}:sq-tooltip' with {
      text: disclosure,
      classes: ['mt-4']
    } %}
  {% endif %}
  {% if links %}
    <div class="links p {{ links_classes|default(['mt-6', 'medium-mt-8'])|join(' ') }}">
      {{ links }}
    </div>
  {% endif %}
</div>
