{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * - options
 * -- main_ul_classes
 * -- data_responsive_menu
 * -- menu_classes
 *
 */
#}
{{ attach_library('aries/molecule--menu') }}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, identifier, attributes, 0, options, country_select) }}

{% macro menu_links(items, identifier, attributes, menu_level, options, country_select) %}

  {% import _self as menus %}
  {% if items %}
    {% set attributes = create_attribute() %}
    {% set menu_classes = [
      'menu',
      'menu-level--' ~ menu_level,
      options.menu_classes|join(' '),
    ] %}
    {% if menu_level == 0 %}
{#      {% if options.data_responsive_menu %}#}
{#        {% do attributes.setAttribute('data-responsive-menu', options.data_responsive_menu).setAttribute('data-multi-open', 'false') %}#}
{#      {% endif %}#}
        <ul{{ attributes.addClass(menu_classes).addClass(options.main_ul_classes, 'root').setAttribute(menu_level == 0 and options.data_responsive_menu ? 'data-responsive-menu' : 'none', options.data_responsive_menu) }} data-multi-open="false" data-click-open="true" data-force-follow="false" data-disable-hover="true">
    {% else %}
        <ul{{ attributes.addClass(menu_classes).removeClass(options.main_ul_classes, 'root').removeAttribute('data-responsive-menu') }}>
    {% endif %}
      {% for item in items %}
        {% set item_attributes = create_attribute() %}
        {% set show_on = false %}
        {% set show_on_value = item.entity.field_show_on.value %}
        {% if show_on_value %}
          {% if show_on_value == 'desktop' %}
            {% set show_on = 'show-for-mobile_menu' %}
          {% elseif show_on_value == 'mobile' %}
            {% set show_on = 'hide-for-mobile_menu' %}
          {% endif %}
        {% endif %}
        {%
          set item_classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
          show_on ? show_on,
        ]
        %}
        <li {{ item_attributes.addClass(item_classes) }}>
          {% if item['#markup'] is not empty %}

            {{ item['#markup'] }}
          {% elseif item.content|length %}
            {{ item.content|without('children') }}
          {% else %}
            {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
              <p {{ item.attributes }}>{{ item.title }}</p>
            {% else %}
              <a href="{{ item.url }}" {{ item.attributes }}>{{ item.title }}</a>
            {% endif %}
          {% endif %}
          {% if item.below %}
            {{ menus.menu_links(item.below, identifier, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
