{{ attach_library('aries/organism--single-stat') }}

{#
media
heading
description
disclosure
background_color
alignment
#}

{% set background_color = background_color is empty ? 'contrasting-night-blue' : background_color %}

{% set media_exists = media|render|trim is empty ? 'no-media' : '' %}

{% set copy %}
  {% include '@molecule/copy/copy.twig' with {
    heading: heading,
    description: description,
    disclosure: disclosure,
    heading_font_size: 'h1',
    description_font_size: 'body-m',
  }%}
{% endset %}

{% set left_content = media %}
{% set left_type = "media" %}
{% set right_content = copy %}
{% set right_type = "copy" %}
{% if alignment == 'right' %}
  {% set left_content = copy %}
  {% set left_type = "copy" %}
  {% set right_content = media %}
  {% set right_type = "media" %}
{% endif %}

<div class="organism--single-stat default image-{{ alignment }} {{ media_exists }} bg-color-{{ background_color }} grid-x">
  <div class="left {{ left_type }}">
    {{ left_content }}
  </div>
  <div class="right {{ right_type }}">
    {{ right_content }}
  </div>
</div>
