{{ attach_library('aries/page--press-release') }}
{{ attach_library('aries/plugable--scss--npr-style') }}

{% set has_media = content.field_asset|render is not empty %}

<div class="page--press-release npr-style grid-container">
  <div class="content-header grid-x grid-margin-x">
    <div class="cell {{ has_media ? 'large-7' : 'small-10 small-offset-1' }}">
      <h1>{{ label }}</h1>
      <div class="meta body-s">{{ content.field_posted_date }}</div>
    </div>
  </div>

  <div class="content-wrapper grid-x grid-margin-x">
    <div class="main-content cell {{ has_media ? 'large-7' : 'small-10 small-offset-1' }}">
      <div class="body body-l">{{ content.body }}</div>

      {% if content.field_boilerplate|render %}
        <div class="boilerplate body-l">{{ content.field_boilerplate }}</div>
      {% endif %}

      <div class="download body-l">
        <a href="{{ link_url }}" class="node__link asset_link"
           aria-label="{{ 'Download the PDF for your reference.'|t }}"
           target="_blank">{{ 'Download the PDF for your reference.' | t }}
        </a>
      </div>

      {% if content.field_disclosures|render %}
        <div class="disclosures body-s">{{ content.field_disclosures }}</div>
      {% endif %}

      <div class="social-icons">
        {% include '@molecule/addtoany/addtoany.twig' with {
          buttons_size: 24,
          page_url: url,
          link_title: node.label,
        }%}
      </div>
    </div>

    {% if has_media %}
      <div class="node__sidebar cell large-5">
        <div class="media">{{ content.field_asset }}</div>
      </div>
    {% endif %}
  </div>
</div>
