{{ attach_library('aries/organism--facet-checkbox') }}
{{ attach_library('aries/plugable--js--accordion') }}
{{ attach_library('aries/plugable--scss--accordion') }}
<div class="organism--facet-checkbox">
  <div class="accordion" data-accordion data-allow-all-closed="true" data-slide-speed="0">
    <div class="{{ 'organism--facet-checkbox--accordion-item position-relative ' ~ has_icon }}" data-accordion-item>
      {# Accordion Item Header #}
      {% if title.0 or rendered_title %}
        <a href="#{{ id }}" class="organism--facet-checkbox--header flex-container align-middle position-relative trim-bottom-margin material-symbols-outlined expand-more">
          {# Title #}
          <div class="organism--facet-checkbox--title fw--normal-plus body-m">
            {{ rendered_title }}
          </div>
        </a>
      {% endif %}

      {# Accordion Item Content #}
      <div class="{{ 'accordion-content ' ~ 'has-icon' }}" data-tab-content id="{{ id }}">
        {# Description #}
        {% if rendered_description %}
          <div class="organism--facet-checkbox--description trim-bottom-margin">
            {{ rendered_description }}
          </div>
        {% endif %}
      </div>

    </div>

  </div>
</div>
