{{ attach_library('aries/organism--quote') }}

{#
media
description
disclosure
background_color
alignment
quote
attribution
#}

{% set background_color = background_color is empty ? 'vibrant-white' : background_color %}

{% set copy %}
  {% include '@molecule/copy/copy.twig' with {
    heading: quote,
    heading_font_size: 'h2',
    attribution_font_size: 'body-l',
    disclosure: disclosure,
    attribution: attribution,
  }%}
{% endset %}

{% set media_exists = media|render|trim is empty ? 'no-media' : 'media_exists' %}

{% set left_content = media %}
{% set left_type = "media" %}
{% set right_content = copy %}
{% set right_type = "copy" %}
{% if alignment == 'right' %}
  {% set left_content = copy %}
  {% set left_type = "copy" %}
  {% set right_content = media %}
  {% set right_type = "media" %}
{% endif %}

<div class="organism--quote default image-{{ alignment }} {{ narrow == 1 ? 'xlarge-10 xlarge-offset-1' : ''}} {{ media_exists }} bg-color-{{ background_color }} grid-x">
  <div class="left {{ left_type }}">
    {{ left_content }}
  </div>
  <div class="right {{ right_type }}">
    {{ right_content }}
  </div>
</div>
