{{ attach_library('aries/organism--tabs') }}
{{ attach_library('aries/plugable--js--tabs') }}
{{ attach_library('aries/plugable--scss--reset-list-styles') }}

<div class="organism--tabs aries-tabs-wrapper-new">
  {% if heading %}
    <h2 class="organism--tabs-heading h2">{{ heading }}</h2>
  {% endif %}
  {% if description %}
    <div class="organism--tabs-description body-l">
      {{ description }}
    </div>
  {% endif %}
  {% if tab_labels %}
    <div class="tab-dropdown-label body-l">Select a tab</div>
    <div class="tab-list" data-no-scroll-breakpoint="600" data-dropdown-breakpoint="600">
      <ul role="tablist" class="tabs__tab-list">
        {% for tab_label in tab_labels %}
          <li role="presentation"><a href="#tab--{{ tab_label|clean_class }}" role="tab" aria-controls="{{ tab_label|clean_class }}" class="aries-tabs__trigger js-tab-trigger" data-text="{{ tab_label }}">{{ tab_label }}</a></li>
        {% endfor %}
        <li aria-hidden="true" class="ul-spacers ul-spacer--right"></li>
      </ul>
      <button class="move-list move-list-left material-symbols-outlined disabled" data-direction="left">chevron_left</button>
      <button class="move-list move-list-right material-symbols-outlined" data-direction="right">chevron_right</button>
    </div>
  {% endif %}
  <div class="tab-items">
    {{ tabs }}
  </div>
</div>
