{{ attach_library('aries/molecule--teaser-card-horizontal') }}
{% set responsive_image_style = 'half_column_hq' %}
<div class="molecule--teaser-card-horizontal flex-container flex-row flex-dir-row height-100 columns--{{ columns }} position-relative">
  <div class="flex-container flex-column flex-dir-column align-justify molecule--teaser-card-horizontal--content">
    <div>
      {% if date|render %}
        <div class="molecule--teaser-card-horizontal--date">
          {{ date|raw }}
        </div>
      {% endif %}
      {% if heading.0 %}
        <h3 class="molecule--teaser-card-horizontal--heading h4">
          {{ heading.0 }}
        </h3>
      {% endif %}
{#      {% set article_description = elements['#node'].body.value %}#}
{#      {% if article_description %}#}
{#        <div class="molecule--teaser-card-horizontal--description article">#}
{#          {{  article_description|striptags|truncate(120) ~ '...' }}#}
{#        </div>#}
{#      {% endif %}#}
      {% if description.0 %}
        <div class="molecule--teaser-card-horizontal--description p">
          {{ description.0|render|striptags }}
        </div>
      {% endif %}
      {% if time|render %}
        <div class="molecule--teaser-card--time">
          {{ time|raw }}
        </div>
      {% endif %}
    </div>
    {% if link|render %}
      <div class="molecule--teaser-card-horizontal--link-wrapper">
        {% for item in link %}
          {% include '@atom/button/button--link-field.twig' with {
            link: item,
            classes: ['button--secondary', link_classes|join(' '), item.classes.join(' '), (link_card == 1 or link_card is empty ? 'stretched-link-tag-before' : '')],
          }%}
        {% endfor %}
      </div>
    {% endif %}
  </div>
    <div class="molecule--teaser-card-horizontal--media position-relative">
      {% if media.0 %}
        {% include '@molecule/background-media/background-media.twig' with {
          media: media.0,
          position: 'center',
        } %}
      {% else %}
        <div class="fake-img"></div>
      {% endif %}
    </div>
</div>
